{{# if products}}
<div class='cart'
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="list-group">
                {{# each products }}
                    <div class="list-group-item border">
                        <strong>{{ this.item.title }} ({{this.item.description}})</strong>
                        <span class="badge price-cart">Rs. {{ this.item.price }}</span>
                        <div class="btn-group">
                            <button type="button" class="btn btn-info btn-raised dropdown-toggle " data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/reduce/{{ this.item._id }}">Reduce by 1</a></li>
                                <li><a class="dropdown-item" href="/increase/{{ this.item._id }}">Increase by 1</a></li>
                                <li><a class="dropdown-item" href="/remove/{{ this.item._id }}">Remove All</a></li>

                            </ul>
                        </div>
                        <span class="total">Quantity:{{ this.qty }}</span>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <strong>Total: Rs. {{ totalPrice }}</strong>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <a href="/checkout" class="btn btn-raised  btn-success">Checkout</a>
        </div>
    </div>
{{else}}
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 main">
             <h2>Cart is Empty!</h2>
                    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-body">
                <div class="mt-2 pt-2 border-top">
                <button type="button" class="btn btn-primary btn-sm">Take action</button>
                </div>
            </div>
            </div>
        </div>
    </div>
    </div>
{{/if}}

